.profile-container {
    place-content: stretch center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.profile-header {
    margin: 0 auto;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
}

.profile-avatar {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-avatar div {
    margin: 0 auto;
}

.profile-info {
    min-height: 100px;
    padding-bottom: 0px;
    width: 100%;
}

.profile-info-name h6{
    font-weight: 500 !important;
    font-size: 30px;
}

.profile-info-lifestyle > div {
    place-content: stretch center;
    display: flex;
    flex-wrap: wrap;
}

.lifestyle-item {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    font-style: italic;
    font-size: 15px;
    color: #757575 !important;
}

.profile-info-statistics > div, .profile-menu > div {
    place-content: stretch center;
    display: flex;
    flex-wrap: wrap;
}

.statistics-item {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.statistics-item div:first-child p {
    color: #f57c00!important;
}

.profile-follow-button {
    text-transform: none !important;
    background-color: #f57c00!important;
    width: 100px;

}

.profile-menu {
    margin-top: 10px;
}

.profile-menu > div div {
    width: 25%;
}

.profile-menu > div button {
    text-transform: none;
    width: 100%;
}

.profile-current-tab {
    border-bottom: 3px solid #f57c00!important;
}

.profile-body > div:first-child {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1000px;
}


