.profile-recipes {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
}

.profile-recipes-body {
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.profile-recipes-header {
    padding: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
}
