.profile-recipes {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
}

.profile-recipes-body {
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.profile-recipes-header {
    padding: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.recipe-add-item {
    min-width: 162px;
    max-width: 162px;
    min-height: 210px;
    max-height: 210px;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 4px;
    position: relative;
    cursor: pointer;
    text-align: center;
    
}

.recipe-add-item p {
    font-weight: 500;
}
