.card-post {
    width: 100%;
}

.card-post-header {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.card-post-header > * {
    margin-right: 10px;
}

.card-post-header div:nth-child(n + 1) p:nth-child(n + 2) {
    font-size: 13px !important;
    color: #ffa726 !important;
}

.card-post-body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-post-footer {
    display: flex;
    flex-wrap: wrap;
}

.card-post-like, .card-post-review, .card-post-share {
    width: 33%;
    text-align: center;
    padding: 5px;
}