.card-item {
    min-width: 155px;
    max-width: 155px;
    min-height: 210px;
    max-height: 210px;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 4px;
    position: relative;
    cursor: pointer;
}

.card-item div {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 10px;
}

.card-item div p {
    color: #ffffff !important;
    font-weight: 600;
}

.card-item-icon {
    color: #f57c00 !important;
    position: absolute;
    right: 0px !important;
    top: 180px !important;
}

.card-item img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}