.profile-container {
    place-content: stretch center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
}

.profile-header {
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
}

.profile-body {
    margin: 0 auto;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
}

.profile-avatar {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-avatar div {
    margin: 0 auto;
}

.profile-info {
    min-height: 100px;
    padding: 5px;
    width: 100%;
}

.profile-info-name h6{
    font-weight: 500 !important;
    font-size: 30px;
}

.profile-info-lifestyle > div {
    place-content: stretch center;
    display: flex;
    flex-wrap: wrap;
}

.lifestyle-item {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    font-style: italic;
    font-size: 15px;
    color: #757575 !important;
}

.profile-info-statistics > div {
    place-content: stretch center;
    display: flex;
    flex-wrap: wrap;
}

.statistics-item {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.statistics-item div:first-child p {
    color: #ffa726 !important;
}

.profile-follow-button {
    text-transform: none;
    background-color: #ffa726 !important;
    width: 100px;
}

.header {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.header button {
    text-transform: none;
    color: #ffa726 !important;
    position: absolute;
    right: 8px;
    font-size: 15px;
}

.body {
    padding: 10px;
    display: flex;
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }


