.add-recipe {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 700px;
}

.add-recipe-header {
    padding: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.add-recipe-body {
    padding: 15px;
}

.add-recipe-body form h6 {
    font-size: 18px !important;
}

.add-recipe-body .text-field {
    margin-top: 0px !important;
    margin-bottom: 20px;
}

.image-upload-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-upload-header {
    display: flex;
}

.image-upload-header label{
    margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #ffa726 !important;
}

.image-upload-body {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    height: 400px;
}

.image-upload-body img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.add-ingredient-container {
    padding: 20px;
}

.add-ingredient-container table {
    margin-bottom: 20px;
}

.add-ingredient-control {
    align-items: center;
    display: flex;
}

.add-ingredient-control p {
    margin-left: 10px;
    font-size: 15px !important;
}

.add-quantity-name {
    width: 100%;
    display: flex;
}

.add-quantity-name > div:first-child {
    margin-right: 30px;
}

.add-quantity-name > div:nth-child(n+2) {
    width: 100% !important;
}

.add-ingredient-controls {
    display: flex;
}

.add-ingredient-controls button:first-child {
    background-color: #ffa726 !important;
    margin-right: 20px;
}

.add-ingredient-controls button:last-child {
    background-color: #e0e0e0 !important;
    margin-right: 20px;
}


